---
layout: "nofollow-layout"
title: Elliot Dahl
---

.page
  .page-frame
  -# .nav-wrapper
  -#   .nav-title.em-high Portfolio
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#product"} Product
  -#     %li
  -#       %a{:href => "#feature"} Feature
  -#     %li
  -#       %a{:href => "#design-system"} Design System
  -#   .nav-title.mtxl.em-high About Me
  -#   %ul.list-unstyled
  -#     %li
  -#       %a{:href => "#career"} My Career Path
  -#     %li
  -#       %a{:href => "#writing"} Writing
  -#     %li
  -#       %a{:href => "#projects"} Side Projects
  -#     %li
  -#       %a{:href => "#connections"} Connections
  .content-area

    %section.content.rounded
      .welcome.mbxl
        %i Hello,
        %h1.shirkhand I'm Elliot
      %p
        I dream in
        = link_to("front-end code", "https://github.com/elliotdahl", target: '_blank') + ","
        obsess over
        = link_to("design systems", "https://medium.com/@Elliotdahl", target: '_blank') + ","
        and advocate for end-to-end UX. Currently designing developer experiences at
        = link_to("Pivotal Cloud Foundry", "https://pivotal.io/platform", target: '_blank') + "."
        I spend the rest of my time drawing spaceships, backpacking Northern California, and reading science fiction.
      %p.mbn
        This portfolio will explain a little bit about my design style and how I work. I've prepared a
        = link_to("product", "#product") + ","
        a
        = link_to("feature", "#feature")
        on that product, and a
        = link_to("design system", "#design-system") + "."
        Following that you can learn a little about my
        = link_to("career path", "#career")
        and some of my
        = link_to("side projects", "#projects") + "."

      -# .grid.mbn
      -#   .col.col-md.col-fixed
      -#     %h2 Portfolio
      -#     %ul.list-unstyled
      -#       %li
      -#         %a{:href => "#product"} Product
      -#       %li
      -#         %a{:href => "#feature"} Feature
      -#       %li
      -#         %a{:href => "#design-system"} Design System
      -#     %h2 About Me
      -#     %ul.list-unstyled
      -#       %li
      -#         %a{:href => "#career"} My Career Path
      -#       %li
      -#         %a{:href => "#projects"} Side Projects
      -#   .col.col-md.txt-c



    .draw-box
    =partial 'shared/product'
    =partial 'shared/feature'
    =partial 'shared/design-system'
    =partial 'shared/career'
    =partial 'shared/projects'
    -# =partial 'shared/nav_menu'




  -# %section.md-col
  -#   %img.img-width{:src => "images/portfolio/apps-manager-1.png"}

//Google Analytics In Footer
=partial 'shared/footer'
